$color-white: #FFF;
$color-black: #000;

$color-grey-light: #EEE;
$color-grey-medium: #666;
$color-grey-dark: #464547;
$color-grey-darker: #070E16;

$color-highlight-primary: #39C2D7;
$color-highlight-secondary: #55C2D8;

$title-font-family: 'Oswald';
$title-font-weight: 700;
$title-font-size: 48px;
$title-line-height: 64px;

$subtitle-font-weight: 400;
$subtitle-font-size: 24px;
$subtitle-line-height: 32px;

$footer-font-weight: 400;
$footer-font-size: 16px;
$footer-line-height: 19px;